
.title {
  margin: 20px;
}

#container {
  margin: 20px;
}

#controls {
  float: left;
  padding-left: 20px;

  #save-button {
    margin-bottom: 10px;
  }

  #granularity-radios {
    padding-bottom: 10px;

    .radio-container {
      cursor: pointer;
    }

    .radio-label {
      padding-left: 6px;
      position: relative;
      top: 4px;
    }
  }

  #drawn-buttons {
    clear: left;
  }
}

#hilbert {
  float:left;
}

#right {

  #color {
    width: 50px;
    height: 50px;
  }

  .color-label {
    margin-top: 20px;
    font-family: monospace;
  }

  float: left;
  padding-left: 20px;
}
