
.unspan {
  margin-left: 0px;
}

#paths-div {
  margin: 10px;

  svg#paths {
    height: 300px;
    border: 1px solid black;
  }
}

#trail-div {
  margin: 10px;

  svg#trail {
    height: 50px;
  }
}

div.svg-div svg {
  width: 100%;
}

.modes {
  margin-left: 0px;
  padding-top: 10px;

  input.mode {
    padding-top: 3px;
    position: relative;
    margin-top: 4px;
    margin-left: 5px;
    height: 28px;
    font-family: monospace;
    font-size: 12px;
  }
}

.slider-div {
  max-height: 60px;

  .slider-button-div {
    padding-top: 3px;
  }

  rect.clicker {
    cursor: pointer;
  }
}

#pixels-div {
  padding-top: 10px;

  #middle {
  }
}

#buttons {
  line-height: 2.2;
  margin-left: 0px;

  #page-buttons {
    padding-bottom: 15px;
    margin-left: 0px;
  }

  #pixels-buttons {
    margin-left: 0px;
  }
}

#last-timings-graph {
  float: left;
}
#fps-graph {
  float: left;
}
