
.colors {
  padding-top: 18px;
}

#paths-div {
  svg#paths {
    height: 300px;
    border: 1px solid black;
  }
}

#trail-div {
  svg#trail {
    height: 50px;
  }
}

div.svg-div svg {
  width: 100%;
}

.slider-div {
  max-height: 60px;

  rect.clicker {
    cursor: pointer;
  }
}
