
#colorboxen {
  padding-left: 100px;
  padding-top: 100px;
}

.colorbox {
  width: 10px;
  height: 100px;
  float: left;
  background-color: #ACC;
}

#svg {
  position: relative;
  left: 40px;
  top: 20px;
}

rect.clicker {
  cursor: pointer;
}
