
#paths-div {
  margin: 10px;
}

#trail-div {
  margin: 10px;
}

div.svg-div svg {
  width: 100%;
}

.slider-div {
  max-height: 60px;
}

div.slider-div input.pause {
  padding-top: 3px;
  position: relative;
  top: 16px;
  margin-left: 5px;
  height: 28px;
  font-family: monospace;
  font-size: 12px;
}

svg#paths {
  height: 300px;
  border: 1px solid black;
}

svg#trail {
  height: 50px;
}

rect.clicker {
  cursor: pointer;
}

#pixels-div {
  padding-top: 20px;
}

.slider-button-div {
  padding-top: 3px;
}

#page-buttons {
  padding-bottom: 15px;
}

#buttons {
  line-height: 2.2;
}
