
.svg-div {
  float: left;
  clear: left;
  width: 100%;
  margin: 10px;
}

div.svg-div svg {
  width: 100%;
}

svg#sliders {
  height: 200px;
}


svg#paths {
  height: 300px;
  border: 1px solid black;
}

svg#trail {
  height: 50px;
}

svg#pixels {
  height: 600px;
}

rect.clicker {
  cursor: pointer;
}
